extends item

block content
  h1= title
  h3
    a(href=artist.url)= artist.title
  img(src=pictureUrl)
  p= description
  p= medium
  p= price
  if buyer
    h3
      a(href=buyer.url)= buyer.title
  p= dimensions
  p= category
  p
    a(href=updateUrl) update
  p
    a(href=addCompositionUrl) add composition
  p
    a(href="/update-member/new/profile.html") signup
