extends item

block content
  composition
    name= name
    artist
      a(href=artist.url)= artist.name
    picture
      img(src=pictureUrl)
    description= description
    medium= medium
    price= price
    if buyer
      buyer
        a(href=buyer.url)= buyer.name
    dimensions= dimensions
    category= category
    update
      a(href=updateUrl) update
    add-art
      a(href=addCompositionUrl) add composition
    add-member
      a(href="/update-member/new/profile.html") signup
