extends item

block content
  profile
    title= title
    website
      a(href=website)= website
    description= description
    img(src=pictureUrl)
    update
      a(href=updateUrl) update
    add-art
      a(href=addCompositionUrl) add composition
    add-member
      a(href="/update-member/new/profile.html") signup