extends item

block content
  profile
    name= name
    website
      a(href=website)= website
    description= description
    picture
      img(src=pictureUrl)
    scroll
      if previousFromArtist
        a(href=previousFromArtist) previous from artist
    update
      a(href=updateUrl) update
    add-art
      a(href=addCompositionUrl) add composition
    add-member
      a(href="/update-member/new/profile.html") signup