extends item

block content
  h1= title
  h3
    a(href=website)= website
  p= description
  img(src=pictureUrl)
  p
    a(href=updateUrl) update
  p
    a(href=addCompositionUrl) add composition
  p
    a(href="/update-member/new/profile.html") signup