extends layout

block content
  member
    form(method="post", enctype="multipart/form-data")
      if error
        error= error
      name
        input(type="text", required, name="title", value=title, placeholder="your professional name as an artist", autocomplete="off", pattern=".*\\w+.*")
      website
        input(type="text", name="website", value=website, placeholder="optional url that will appear as a link")
      description
        input(type="text", name="description", value=description, placeholder="optional description or statement about your work generally")
      email
        input(type="email", required, name="email", value=email, placeholder="email to be confirmed", pattern=".*\\w+@\\w+\\.\\w+.*")
      username
        input(type="text", required, name="username", value=username, placeholder="appears in URLs, but not otherwise displayed")
      password
        input(type="password", required=newMember, name="password")
        input(type="password", required=newMember, name="repeatPassword")
      picture
        input(type="file", name="picture", placeholder="people respond better to a nice profile picture")
      input(type="submit")
    