extends layout

block content
  form(method="post", enctype="multipart/form-data")
    input(type="text", required, name="title", value=title, placeholder="Composition title must be unique among your compositions.")
    input(type="text", name="description", value=description, placeholder="artist statement or description")
    input(type="text", required, name="price", value=price, placeholder="price in US dollars")
    input(type="text", required, name="dimensions", value=dimensions, placeholder="width x height x depth, in inches.")
    input(type="text", required, name="medium", value=medium, placeholder="oil, acrylic, etc.")
    input(type="text", name="category", value=(category || []).join(' '), placeholder="list of portrait, abstract, nude, etc.")
    input(type="file", required=newComposition, name="picture", placeholder="Upload a good clear photograph.")
    input(type="submit")
  form(method="post", action=deleteUrl)
    input(type="submit", name="delete")
  h3
    a(href=artist.url)= artist.title
  img(src=pictureUrl)
    